<div class="container">
  <div class="row">
    <div class="animated bounceInLeft col-sm-6">
      <div class="card border-secondary mb-6" style="max-width: 30rem; height: 302px;">
        <div class="card-header">Login</div>
        <div class="card-body">
          <h4 class="card-title">
            <img width="128" src="./assets/icon.png">&nbsp; Single sign-on</h4>
          <p class="card-text" align="center">
            <button (click)="login()" type="button" class="btn btn-warning">Login</button>&nbsp;
          </p>
        </div>
      </div>
    </div>
    <div class="animated bounceInRight col-sm-6">
      <div class="card border-secondary mb-6" style="max-width: 30rem; height: 302px;">
        <div class="card-header">Register</div>
        <div class="card-body">
          <h4 class="card-title">
            <img width="128" src="./assets/guest.png">&nbsp; Register here</h4>
          <p class="card-text" align="center">
            <button (click)="login()" type="button" class="btn btn-warning">Register</button>&nbsp;
          </p>
        </div>
      </div>
    </div>
  </div>
</div>