

<p align="right">
  <button (click)="refresh()" type="button" class="btn btn-success">Refresh</button>
</p>

<div class="col-md-12">
  <h1>Waiting</h1>
  <table class="table table-hover">
    <thead>
    <tr class="table-light">
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Created by, for</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="animated fadeIn" *ngFor="let item of waitingForMe">
      <th>DATE</th>
      <td>{{item.title}}</td>
      <td>{{getUserFullName(item.createdBy)}} &gt; {{getUserFullName(item.waitingFor)}}</td>
      <td><a class="btn btn-sm btn-outline-primary" href="./view?id={{item.id}}">View</a></td>
    </tr>
    <tr class="animated fadeIn" *ngFor="let item of createdByMe">
      <th>DATE</th>
      <td>{{item.title}}</td>
      <td>{{getUserFullName(item.createdBy)}} <b>&gt;</b> {{getUserFullName(item.waitingFor)}}</td>
      <td><a class="btn btn-sm btn-outline-primary" href="./view?id={{item.id}}">View</a></td>
    </tr>
    </tbody>
  </table>
</div>


