<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">


      <div>

        <h1>Welcome to Snaily</h1>
        <p class="text-center">Snaily identifies your bottleneck</p>
        <img width="256" src="assets/snaily.png"/>

      </div>


      <div style="margin-top:50px; margin-bottom: 50px" class="text-center">
        <a href="/login" class="btn btn-lg btn-success">Login / register</a>

      </div>

      <div>
        <blockquote class="blockquote text-right">
          <p class="mb-0">"Any improvements made anywhere besides the bottleneck are an illusion"</p>
          <footer class="blockquote-footer">Gene Kim in <cite title="Source Title">The Phoenix Project</cite></footer>
        </blockquote>

      </div>


    </div>
    <div class="col-md-4"></div>
  </div>
</div>
